<?xml version="1.0" encoding="utf-8" ?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <appSettings>
    <add xdt:Transform="Replace" xdt:Locator="Match(key)" key="storageFolder" value="ExcelFile\Dictionaries.xlsx"/>
    <add xdt:Transform="Replace" xdt:Locator="Match(key)" key="exchangeLogin" value="parkmanagement@parkip.com" />
    <add xdt:Transform="Replace" xdt:Locator="Match(key)" key="exchangePass" value="Localize1" />
    <add xdt:Transform="Replace" xdt:Locator="Match(key)" key="projectsEmail" value="testbox@welocalize.com" />
    <add xdt:Transform="Replace" xdt:Locator="Match(key)" key="adminEmail" value="testbox@welocalize.com;testbox@welocalize.com" />    
    <!--<add xdt:Transform="Replace" xdt:Locator="Match(key)" key="exchangeLogin" value="testbox@parkip.com" />
    <add xdt:Transform="Replace" xdt:Locator="Match(key)" key="exchangePass" value="N3e_P@ss!" />
    <add xdt:Transform="Replace" xdt:Locator="Match(key)" key="projectsEmail" value="testbox@parkip.com" />
    <add xdt:Transform="Replace" xdt:Locator="Match(key)" key="adminEmail" value="testbox@parkip.com;testbox@parkip.com" />-->
    <add xdt:Transform="Replace" xdt:Locator="Match(key)" key="excelPath" value="Dictionaries.xlsx" /> 
  </appSettings>
</configuration>