<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <appSettings>
    <add key="excelPath" value="Dictionaries.xlsx"/>
    <add key="filesStorageBaseUrl" value="https://is.welocalize.com/"/>
    <add key="filesStorageUrl" value="https://is.welocalize.com/web/guest/home?p_auth=GtI8Efk0&amp;p_p_id=58&amp;p_p_lifecycle=1&amp;p_p_state=normal&amp;p_p_mode=view&amp;p_p_col_id=column-2&amp;p_p_col_pos=1&amp;p_p_col_count=2&amp;saveLastPath=0&amp;_58_struts_action=%2Flogin%2Flogin"/>
    <add key="storageFolder" value="ExcelFile\Dictionaries.xlsx"/>
    <add key="loginElementId" value="_58_login" />
    <add key="passElementId" value="_58_password" />
    <add key="loginFileStorage" value="park.management" />
    <add key="passFileStorage" value="Localize1" />
    <add key="exchangeLogin" value="parkmanagement@parkip.com"/>
    <add key="exchangePass" value="Localize1"/>
    <add key="subjectKeySubstring" value="Task file uploaded" />
    <add key="idleBetweenTasks" value="30" />  <!-- 30 seconds -->
    <add key="idleForStorageServerDown" value="86400" />  <!-- 24*60*60 seconds (1 day) -->
    <add key="infinityWaitingString" value="The requested file isn't available." />
    <add key="projectsEmail" value="testbox@welocalize.com"/>
    <add key="adminEmail" value="testbox@welocalize.com;testbox@welocalize.com"/>
    <add key="forwardEmailAddition" value="Your file could not be auto downloaded. Please request it manually from the vendor." />
    <add key="serverDownLabelText" value="Server is down. Reconnect after:" />
    <add key="fileNotDownloadedLabelText" value="Downloading error ({0}). Reconnect after:" />
    <add key="reconnectIdleTimeAfterError" value="300" /> <!-- 5*60 seconds (5 minutes) -->
    <add key="reconnectTimesCount" value="3" />
    <add key="notUnlinkFieldTypes" value="wdFieldTOC,wdFieldHyperlink"/> <!-- FieldTypes wich do NOT unlink -->
  </appSettings>
</configuration>