<?xml version="1.0" encoding="utf-8" ?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <appSettings>
    <add xdt:Transform="Replace" xdt:Locator="Match(key)" key="storageFolder" value="G:\FALCON PROJECTS\"/>
    <add xdt:Transform="Replace" xdt:Locator="Match(key)" key="exchangeLogin" value="parkmanagement@parkip.com" />
    <add xdt:Transform="Replace" xdt:Locator="Match(key)" key="exchangePass" value="Localize1" />
    <!--<add xdt:Transform="Replace" xdt:Locator="Match(key)" key="exchangeLogin" value="park.management@parkip.com" />
    <add xdt:Transform="Replace" xdt:Locator="Match(key)" key="exchangePass" value="*P@rkM@n&amp;" />-->    
    <add xdt:Transform="Replace" xdt:Locator="Match(key)" key="excelPath" value="G:\Park IP OP Drop Box\AutoDownloader Tool\copy of Autodownloader.xlsx" />
    <add xdt:Transform="Replace" xdt:Locator="Match(key)" key="projectsEmail" value="projects@parkip.com" />
    <add xdt:Transform="Replace" xdt:Locator="Match(key)" key="adminEmail" value="nikita.levitan@parkip.com;NSheehan@parkip.com" />    
  </appSettings>
</configuration>